<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocean.mapper.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.ocean.entity.Apply">
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="setTime" jdbcType="VARCHAR" property="setTime" />
    <result column="appointment" jdbcType="INTEGER" property="appointment" />
    <result column="appointok" jdbcType="VARCHAR" property="appointok" />
    <result column="clockin" jdbcType="VARCHAR" property="clockin" />
    <result column="punch" jdbcType="INTEGER" property="punch" />
  </resultMap>
  <insert id="insert" parameterType="com.ocean.entity.Apply">
    insert into apply (cid, sid, tid,
      ctime, setTime, appointment,
      appointok, clockin, punch)
    values (#{cid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER},
      #{ctime,jdbcType=TIMESTAMP}, #{setTime,jdbcType=VARCHAR}, #{appointment,jdbcType=INTEGER},
      #{appointok,jdbcType=VARCHAR}, #{clockin,jdbcType=VARCHAR}, #{punch,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select cid, sid, tid, ctime, setTime, appointment, appointok, clockin, punch
    from apply
  </select>

  <delete id="delete">
    delete from apply where cid = #{cid} and sid = #{sid}
  </delete>
  <update id="changeTable" parameterType="com.ocean.entity.Apply">
      update apply
      set
        ctime = #{ctime},
        setTime = #{setTime},
        appointment = #{appointment},
        appointok = #{appointok},
        clockin = #{clockin},
        punch = #{punch}
      where cid = #{cid} and sid = #{sid} and tid = #{tid}
  </update>
  <select id="getApply" resultMap="BaseResultMap">
    select * from apply
    where cid = #{cid} and sid = #{sid}
  </select>
</mapper>
