<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocean.mapper.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.ocean.entity.Apply">
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="setTime" jdbcType="VARCHAR" property="settime" />
    <result column="appointment" jdbcType="INTEGER" property="appointment" />
    <result column="appointok" jdbcType="VARCHAR" property="appointok" />
    <result column="clockin" jdbcType="VARCHAR" property="clockin" />
    <result column="prohibit" jdbcType="VARCHAR" property="prohibit" />
    <result column="punch" jdbcType="INTEGER" property="punch" />
  </resultMap>
  <insert id="insert" parameterType="com.ocean.entity.Apply">
    insert into apply (cid, sid,
      ctime, setTime, appointment,
      appointok, clockin, prohibit,
      punch)
    values (#{cid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER},
      #{ctime,jdbcType=TIMESTAMP}, #{settime,jdbcType=VARCHAR}, #{appointment,jdbcType=INTEGER},
      #{appointok,jdbcType=VARCHAR}, #{clockin,jdbcType=VARCHAR}, #{prohibit,jdbcType=VARCHAR},
      #{punch,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select cid, sid, ctime, setTime, appointment, appointok, clockin, prohibit,
    punch
    from apply
  </select>

  <delete id="delete">
    delete from apply where cid = #{cid} and sid = #{sid}
  </delete>
</mapper>
